@import "tailwindcss";

@theme {
  --color-surface: #EEEEEE;
  --color-primary-light: #6FCF97;
  --color-primary: #2FA084;
  --color-primary-dark: #1F6F5F;

  --color-success: #6FCF97;
  --color-warning: #F2C94C;
  --color-danger: #EB5757;
  --color-info: #2F80ED;

  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --color-surface: #EEEEEE;
  --color-primary-light: #6FCF97;
  --color-primary: #2FA084;
  --color-primary-dark: #1F6F5F;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-surface);
  color: #111111;
}